<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col_half">
						<a href="/"><img src="images/singularis-logo.png" alt="" class="footer-logo"></a>
						Copyrights &copy; 2017 All Rights Reserved by singularis.
					</div>
					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links fright clearfix">
							<a href="/">Home</a>/<a href="/services">Services</a>/<a href="/company">Company</a>/<a href="/datacenters">Data Centers</a>/<a href="/support">Support</a>/<a href="/contact">Contact</a>
						</div>
						<div class="fright clearfix">
							<a href="https://www.facebook.com/pg/singularisit/about/?tab=overview" target="_blank" class="social-icon si-small si-borderless nobottommargin si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="https://twitter.com/singularisit" target="_blank" class="social-icon si-small si-borderless nobottommargin si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->