<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="images/singularis-logo.png"><img src="images/singularis-logo.png" alt="Singularis Logo"></a>
						<!-- <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a> -->
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">
					<div class="row">
						<ul class="one-page-menu">
							<li class="current"><a href="/" data-href="#header"><div>Home</div></a></li>
							<li><a href="/services" data-href="#section-features"><div>Services</div></a></li>
							<li><a href="/company" data-href="#section-pricing"><div>Company</div></a></li>
							<li><a href="/datacenters" data-href="#section-testimonials"><div>Data Centers</div></a></li>
							<li><a href="/support" data-href="#section-specs"><div>Support</div></a></li>
							<li><a href="/contact" data-href="#section-buy"><div>Contact</div></a></li>
						</ul>
					</div>
						
					<!-- <div class="row">
						<div class="container clearfix">
						<ul class="header-extras">
							<li>
								<i class="i-plain icon-email3 nomargin"></i>
								<div class="he-text">
									Drop an Email
									<span>info@singularisit.com</span>
								</div>
							</li>
							<li>
								<i class="i-plain icon-call nomargin"></i>
								<div class="he-text">
									Get us a Call
									<span>(866) 617-2426</span>
								</div>
							</li>
						</ul>
					</div>
					</div> -->
						

					</nav><!-- #primary-menu end -->
					
				</div>

			</div>
			
		</header><!-- #header end -->

		

