<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
{{>head}}
	
	<title>Company | singularis</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
		{{>nav}}

		</header><!-- #header end -->


		<!-- Page Title
		============================================= -->
		<section id="page-title" style="padding: 250px 0; background-image: url('images/crew-87518.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

			<div class="container clearfix">
				<h1 style="color: white;">About Us</h1>
				<h3 style="color: #27AAE1;">Expect more from your IT partner.</h3>
				<span style="color: white;">We manage hosting and IT solutions that will save time, money and headache while maintaining a high level of service and knowledge.</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="col_one_third">
						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>Embrace Technology</h4>
						</div>
						<p>IT should always empower an organization and contribute to its success.</p>
					</div>
					<div class="col_one_third">
						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>Passion with purpose</h4>
						</div>
						<p>Managed services and products to enable organizational growth without all the fluff.</p>
					</div>
					<div class="col_one_third col_last">
						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>Honesty</h4>
						</div>
						<p>Full transparency and genuine approach in every facet of our business.</p>
					</div>
				</div>
				

				<div class="section nomargin noborder bgcolor dark" style="padding: 80px 0;">
					<div class="container center clearfix">

						<div class="heading-block">
							<h2>Careers at Singularis IT</h2>
							<span>Work doesn’t always need to be serious; you just need to seriously love what you do!</span>
						</div>

						<h3>“Surround yourself with the dreamers and the doers, the believers and thinkers, but most of all, surround yourself with those who see the greatness within you, even when you don’t see it yourself.” ― Edmund Lee</h3>

						<p>
							At Singularis IT, we don’t just accept difference – we celebrate it, we support it, and we thrive on it for the benefit of our employees, our products, and our community. We view culture differently. We believe it’s about rallying people who enjoy each other’s company and respect each other’s skill. It’s about working alongside people you rely on to spar with you intellectually one moment, then grab tacos with you the next. We’ve created a culture that rewards bright, driven, and fun-loving people. We take our work seriously. But ourselves? Not so much.
						</p>

						<div class="col_one_third">
							<div class="heading-block nobottomborder title-bottom-border">
								<h4>We do it because we believe in it.</h4>
							</div>
							<p>The goal of Singularis IT is to help our clients succeed. It’s a passion for all of us. We get to help people make sense of their IT challenges.</p>
						</div>
						<div class="col_one_third">
							<div class="heading-block nobottomborder title-bottom-border">
								<h4>We’re building something meaningful that will last</h4>
							</div>
							<p>We try to approach our work with thinking and care, and we want to work with people who do the same.</p>
						</div>
						<div class="col_one_third col_last">
							<div class="heading-block nobottomborder title-bottom-border">
								<h4>It’s Fun!</h4>
							</div>
							<p>We’re a friendly group of people, and we do a lot of things together: hack days, happy hours, trips, workshops, movies, lunch, and a lot of laughing.</p>
						</div>

						<div class="col_full">
							<h2>Interested? Come join us! Email us at happy@singularisit.com to tell us why!</h2>
						</div>
						
					</div>
				</div>

				<div class="container clearfix">

					<div class="clear"></div>

					<div class="heading-block center">
						<h4>Charitable Organizations</h4>
					</div>

					<ul class="clients-grid grid-6 nobottommargin clearfix">
						<li><a href="http://logofury.com/logo/enzo.html"><img src="images/clients/1.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com"><img src="images/clients/2.png" alt="Clients"></a></li>
						<li><a href="http://logofaves.com/2014/03/grabbt/"><img src="images/clients/3.png" alt="Clients"></a></li>
						<li><a href="http://logofaves.com/2014/01/ladera-granola/"><img src="images/clients/4.png" alt="Clients"></a></li>
						<li><a href="http://logofaves.com/2014/02/hershel-farms/"><img src="images/clients/5.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com/logo/food-fight-radio.html"><img src="images/clients/6.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com"><img src="images/clients/7.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com/logo/up-travel.html"><img src="images/clients/8.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com/logo/caffi-bardi.html"><img src="images/clients/9.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com/logo/bignix-design.html"><img src="images/clients/10.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com/"><img src="images/clients/11.png" alt="Clients"></a></li>
						<li><a href="http://logofury.com/"><img src="images/clients/12.png" alt="Clients"></a></li>
					</ul>

				</div>


			</div>

		</section><!-- #content end -->

		<footer>
			{{>footer}}
		</footer>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>