<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
{{>head}}

	<!-- Document Title
	============================================= -->
	<title>singularis | IT made simple</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	
		<!-- Header
		============================================= -->
		<!-- <header id="header" class="transparent-header full-header" data-sticky-class="not-dark"> -->
		{{>nav}}

		<!-- </header> --><!-- #header end -->

		<section id="slider" class="slider-parallax full-screen dark" style="background: url(images/8.jpeg) center center no-repeat; background-size: cover">

			<div class="slider-parallax-inner">

				<div class="container vertical-middle clearfix">

					<div class="heading-block title-center nobottomborder">
						<h1>Expect more from your IT partner</h1>
						<span>We manage hosting and IT solutions that will save time, money, and headache while maintaining a high level of service and knowledge.</span>
					</div>

					<div class="center bottommargin">
						<a href="/contact" data-scrollto="#section-pricing" class="button button-3d button-xlarge nobottommargin"><i class="icon-user2"></i>Contact Us</a>
					</div>

					<h3 class="title-center">Call us to get started. We'd love to work with you!</h3>

				</div>

			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">


					<div class="col_half">
						<div class="feature-box fbox-large fbox-plain" data-animate="fadeIn">
							<a href="/services">
								<div class="fbox-icon">
									<i class="i-plain icon-laptop"></i>
								</div>
								<h3>Remote Desktop As A Service</h3>
							</a>
						</div>
					</div>

					<div class="col_half col_last">
						<div class="feature-box fbox-large fbox-plain" data-animate="fadeIn" data-delay="200">
							<a href="/services">
								<div class="fbox-icon">
									<i class="i-plain icon-cloud"></i>
								</div>
								<h3>Infrastructure As A Service</h3>
							</a>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_half">
						<div class="feature-box fbox-large fbox-plain" data-animate="fadeIn" data-delay="400">
							<a href="/services">	
								<div class="fbox-icon">
									<i class="i-plain icon-ambulance"></i>
								</div>
								<h3>Disaster Recovery</h3>
							</a>
						</div>
					</div>

					<div class="col_half col_last">
						<div class="feature-box fbox-large fbox-plain" data-animate="fadeIn" data-delay="600">
							<a href="/services">
								<div class="fbox-icon">
									<i class="i-plain icon-refresh"></i>
								</div>
								<h3>Backup As A Service</h3>
							</a>
						</div>
					</div>

				</div>

				<div class="clear"></div>

				<div class="section parallax dark nobottommargin nobottomborder" style="background: url('images/4.jpeg');" data-stellar-background-ratio="0.3">

					<div class="container clearfix">

						<div class="heading-block center">
							<h2>Singularis IT Mission &amp; Vision</h2>
							<span>Our mission is to provide an efficient, cost-effective and successful IT solution to enable growth. Our vision is to empower clients to build their business while we spearhead their technology objectives.</span><br />
							<h4>IT should always empower an organization and contribute to its success.</h4>
						</div>

					</div>

				</div>

		

				<div class="clear"></div>


				<!-- <div class="section nobottommargin"> -->
					<div class="container clearfix">

						<div class="heading-block center">
							<h3>Subscribe to our <span>Newsletter</span></h3>
						</div>

						<div class="subscribe-widget">
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group input-group-lg divcenter" style="max-width:600px;">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Subscribe Now</button>
									</span>
								</div>
							</form>
						</div>

					</div>
				<!-- </div> -->

				


			</div>

		</section><!-- #content end -->

		<footer>
			{{>footer}}
		</footer>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">

		var tpj=jQuery;
		tpj.noConflict();

		tpj(document).ready(function() {

			var apiRevoSlider = tpj('.tp-banner').show().revolution(
			{
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				responsiveLevels:[1200,992,768,480,320],
				startwidth:1140,
				startheight:600,
				hideThumbs:200,

				thumbWidth:100,
				thumbHeight:50,
				thumbAmount:3,

				navigation: {
					keyboardNavigation:"off",
					keyboard_direction: "horizontal",
					mouseScrollNavigation:"off",
					onHoverStop:"off",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					},
					arrows: {
                        style: "hermes",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div>	<div class="tp-arr-titleholder">{{title}}</div>	</div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    }
				},

				touchenabled:"on",
				onHoverStop:"on",

				swipe_velocity: 0.7,
				swipe_min_touches: 1,
				swipe_max_touches: 1,
				drag_block_vertical: false,


				parallax:"mouse",
				parallaxBgFreeze:"on",
				parallaxLevels:[8,7,6,5,4,3,2,1],
				parallaxDisableOnMobile:"on",

				keyboardNavigation:"on",

				shadow:0,
				fullWidth:"off",
				fullScreen:"on",

				spinner:"spinner0",

				stopLoop:"off",
				stopAfterLoops:-1,
				stopAtSlide:-1,

				shuffle:"off",


				forceFullWidth:"off",
				fullScreenAlignForce:"off",
				minFullScreenHeight:"400",

				hideThumbsOnMobile:"off",
				hideNavDelayOnMobile:1500,
				hideBulletsOnMobile:"off",
				hideArrowsOnMobile:"off",
				hideThumbsUnderResolution:0,

				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				startWithSlide:0,
				fullScreenOffset:"0px"
			});

			apiRevoSlider.bind("revolution.slide.onloaded",function (e) {
				setTimeout( function(){ SEMICOLON.slider.sliderParallaxDimensions(); }, 200 );
			});

			apiRevoSlider.bind("revolution.slide.onchange",function (e,data) {
				SEMICOLON.slider.revolutionSliderMenu();
			});

		}); //END REVOLUTION SLIDER

	</script>

</body>
</html>