<!DOCTYPE html>
<html>
	<head>
		{{>head}}
		<!-- Document Title
		============================================= -->
		<title>Support | singularis</title>
	</head>
	<body class="stretched">

		<div id="wrapper" class="clearfix">
			<!-- Header
				============================================= -->
				<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
				{{>nav}}

				</header><!-- #header end -->

				<section id="content">
					<div class="content-wrap">
						<div class="row clearfix common-height">

							<div class="col-md-6 center col-padding">
								<div><a href="https://monitoring.singularisit.com/index.htm" target="_blank" class="button button-desc button-3d button-rounded center">Monitoring<span>View the status of your servers and network</span></a></div>
							</div>

							<div class="col-md-6 center col-padding">
								<div>
								<a href="https://ticketing.singularisit.com/" target="_blank" class="button button-desc button-3d button-rounded center">Ticketing<span>Create, respond, and view support tickets</span></a>
							</div>

						</div>
					</div>
				</section>

				<footer>
					{{>footer}}
				</footer>

		<!-- Go To Top
			============================================= -->
			<div id="gotoTop" class="icon-angle-up"></div>

			<!-- External JavaScripts
			============================================= -->
			<script type="text/javascript" src="js/jquery.js"></script>
			<script type="text/javascript" src="js/plugins.js"></script>

			<!-- Footer Scripts
			============================================= -->
			<script type="text/javascript" src="js/functions.js"></script>

		</div>
			
	</body>
</html>